/* Importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

/* Basic Reset */
*, 
*::before, 
*::after{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html{font-size: 100%}

body{
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    overflow-x:hidden;
    background-color: rgb(250, 241, 227);
}

a{
    display: inline-block;
    font-family: inherit;
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
}

.container{
    position: relative;
    width: 90%;
    max-width: 80%;
    margin: 0 auto;
    z-index: 5;
}


/* Navigation styling */
#nav .container{
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
}

.btn-nav{
    background: linear-gradient(to right, #ffb151,  #F95C6F);
    border: none;
    outline: none;
    margin-left: 10px;
    padding: 8px 20px;
    border-radius: 20px;
    color: white;
    font-size: 0.8rem;
}

.nav__list{
    display: flex;
}

.nav__list li:not(:last-child){
    padding-right: 20px;
}

.login .btn-primary{
    margin-left: 20px;
}

.btn-primary{
    color: white;
    font-size: 0.8rem;
    border: none;
    outline: none;
    background-color: rgb(51, 51, 255);
    opacity: 75%;
    padding: 20px 25px;
    border-radius: 3px;
    cursor: pointer;
    transition: opacity .3s ease;
}

.btn-primary:hover{
    opacity: 60%;
}

/* Hero section */
#main .container{
    width: 100%;
    height: calc(100vh - 15vh);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
}

#main .container .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0px 20px;
    gap: 4rem;
}

.heading{
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    max-width: 450px;
}

.para{
    padding: 20px 0px;
    font-size: 1.2rem;
    max-width: 450px;
}

input{
    height: 55px;
    width: 300px;
    margin-right: 10px;
    outline: none;
    color: grey;
}

input[value]{
    padding-left: 20px;
}

.input{
    padding-bottom: 20px;
}

.secure{
    display: flex;
    align-items: center;
}

.secure img{
    padding-right: 10px;
}

.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    padding-left: 10px;
}
.box p{
    padding: 0 0 5px;
    font-size: 0.8rem;
    font-weight: 500;
}

.box h3{
    font-size: 0.8rem;
    font-weight: 900;
}

.image img{
    max-width: 410px;
    position: relative;
    z-index: 1000;
}

.image{
    position: relative;
}

.overlay{
    position: absolute;
}

.overlay img{
    max-width: 410px;
    position: absolute;
}

.img-1{
    transform: rotate(345deg);
    z-index: 100;
}

.img-2{
    transform: rotate(330deg);
    z-index: 50;
}

.img-3{
    transform: rotate(318deg);
}

.menu {
    
    display: none;
}

@media (max-width: 1024px) {
    .list{
        display: none;
    }
    .login{
        display: none;
    }
    .menu{
        display: block;
    }
    #main .container .top{
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

}

@media (max-width: 375px) {
    .logo img{
        width: 70px;
    }
    .btn-nav{
        padding: 4px 12px;
        font-size: 0.8rem;
    }
    .top{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap-reverse;
    }
    .image img{
        max-width: 250px;
    }
    .overlay img{
        max-width: 250px;
    }
    .heading{
        font-size: 2.5rem;
    }
    .para{
        font-size: 1rem;
    }
    .input .btn-primary{
        margin-top: 10px;
        width: 300px;
    }
    .bottom{
        flex-wrap: wrap;
    }
    .bottom .social__links{
        padding-bottom: 40px;
    }
}


